<h2>Battery Electric Vehicles</h2>

<div class="wrapper">
    {% for car in site.data.cars %}
        {% assign lowestPrice = car.LowestPrice | times: 1 %}
        {% if car.Released == 'Y' and car.Type == 'BEV' and lowestPrice <= page.maxprice and lowestPrice >= page.minprice %}
            {% assign costToCharge = car.KwH | times: 0.15 | round: 2 %}
            <div class="car-box">
                <h4>{{ car.Brand }} {{ car.Model }} </h4>
                <strong>{{ car.Year }}</strong> {{ car.BodyStyle }} <br>
                🔋 <strong>{{ car.KwH }}</strong> kWh  🚗 <strong>{{car.Range }}</strong> KM <br>
                <strong>{{ car.HP }}</strong> HP | <strong>{{ car.Torque }}</strong> TQ <br>
                ⏱️ <strong>{{ car.zeroToSixty }}</strong> s <br>
                <h4>Lowest Price 💲 {{ lowestPrice }}</h4>
            </div>
        {% endif %}
    {% endfor %}
    
</div>
