<h2>Battery Electric Vehicles</h2>

<div>
{% if page.newUsed == 'used' %}
    {% for car in site.data.usedcars %}
        {% assign lowestPrice = car.lowestPrice | times: 1 %}
        {% if car.released == 'Y' and car.type == 'BEV' and lowestPrice <= page.maxprice and lowestPrice >= page.minprice %}
            {% assign costToCharge = car.KwH | times: 0.15 | round: 2 %}
            <div>
                <h4>{{ car.brand }} {{ car.model }} </h4>
                <img src="/assets/images/{{ car.fileName }}">
                <div>
                    Year
                    <strong>{{ car.year }}</strong>
                </div>
                <div>
                    Style
                    <strong>{{ car.bodystyle }}</strong>
                </div>
                <div>
                    0-60
                    <strong>{{ car.zeroToSixty }}</strong> sec
                </div>
                <div>
                    HP
                    <strong>{{ car.hp }}</strong>
                </div>
                <div>
                    TQ
                    <strong>{{ car.tq }}</strong>
                </div> 
                <strong>{{ car.kwh }}</strong> kWh  <strong>{{car.range }}</strong> KM
                <div>
                    Lowest Price
                    <strong style="color:#2196f3;">${{ lowestPrice }}</strong>
                </div>
            </div>
            <hr />
        {% endif %}
    {% endfor %}
{% else %}
    {% for car in site.data.newcars %}
        {% assign lowestPrice = car.entryPrice | times: 1 %}
        {% if car.released == 'Y' and car.type == 'BEV' and lowestPrice <= page.maxprice and lowestPrice >= page.minprice %}
            {% assign costToCharge = car.KwH | times: 0.15 | round: 2 %}
            <div>
                <h4>{{ car.brand }} {{ car.model }} </h4>
                <img src="/assets/images/{{ car.fileName }}">
                <div>
                    Year
                    <strong>{{ car.year }}</strong>
                </div>
                <div>
                    Style
                    <strong>{{ car.bodystyle }}</strong>
                </div>
                <div>
                    0-60
                    <strong>{{ car.zeroToSixty }}</strong> sec
                </div>
                <div>
                    HP
                    <strong>{{ car.hp }}</strong>
                </div>
                <div>
                    TQ
                    <strong>{{ car.tq }}</strong>
                </div> 
                <strong>{{ car.kwh }}</strong> kWh  <strong>{{car.range }}</strong> KM
                <div>
                    Entry Price
                    <strong style="color:#2196f3;">${{ car.entryPrice }}</strong>
                    Loaded Price
                    <strong style="color:#2196f3;">${{ car.loadedPrice }}</strong>
                    {% if car.Incentive %}
                    Federal Incentive
                    <strong style="color:lightcoral;">${{ car.Incentive }}</strong>
                    {% endif %}
                </div>
            </div>
            <hr />
        {% endif %}
    {% endfor %}
{% endif %}
</div>