<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            🇨🇦{{site.name}}
            <!-- <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}"> -->
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsWow">
            
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">                
                <a class="nav-link" href="{{ site.baseurl }}/category/news/">News</a>
                </li>

                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/category/education/">Education</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Used EV</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ site.baseurl }}/under10">Under $10k</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/under20">$10k - $20k</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/under30">$20k - $30k</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/under40">$30k - $40k</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/under50">$40k - $50k</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/50plus">$50k +</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New EV</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ site.baseurl }}/newUnder30">Under $30k</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/newUnder40">$30k - $40k</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/newUnder50">$40k - $50k</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/newUnder60">$50k - $60k</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/newUnder70">$60k - $70k</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/new70plus">$70k +</a>
                        </div>
                    </li>
                
                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li> 
                
                <!-- <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
                </li>  -->
                
                <!-- <li class="nav-item">                
                    <a class="nav-link highlight" href="https://github.com/wowthemesnet/affiliates-jekyll-theme/archive/master.zip">Download Theme</a>
                </li>  -->
                
            </ul>
            <!-- End Menu -->
            
        </div>
    </div>
</header>