<h2>Plug-in Hybrid Electric Vehicles</h2>

<div class="wrapper">
    {% for car in site.data.cars %}
        {% assign lowestPrice = car.LowestPrice | times: 1 %}
        {% if car.Released == 'Y' and car.Type == 'PHEV' and lowestPrice <= page.maxprice and lowestPrice >= page.minprice %}
            {% assign costToCharge = car.KwH | times: 0.15 | round: 2 %}
            <div>
                <h4>{{ car.Year }} {{ car.Brand }} {{ car.Model }} </h4>
                <ul>
                    <li>{{ car.BodyStyle }}</li>
                    <!-- <li>{{ car.Drive }}</li> -->
                    <li>Battery: {{ car.KwH }}kWh | Range: {{car.Range }}KM</li>
                    <!-- <li>Cost to Charge: ${{ costToCharge }}</li> -->
                    <li>{{ car.Displacement | round: 1 }}L {{ car.Engine }} Engine</li>
                    <li>HP: {{ car.HP }} | TQ: {{ car.Torque }}</li>
                    <li>0-60: {{ car.zeroToSixty }}s</li>
                    <li>${{ lowestPrice }}</li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>