<h2>Plug-in Hybrid Electric Vehicles</h2>

<div class="wrapper">
    {% for car in site.data.cars %}
        {% assign lowestPrice = car.LowestPrice | times: 1 %}
        {% if car.Released == 'Y' and car.Type == 'PHEV' and lowestPrice <= page.maxprice and lowestPrice >= page.minprice %}
            {% assign costToCharge = car.KwH | times: 0.15 | round: 2 %}
            <div>
                <h4>{{ car.Year }} {{ car.Brand }} {{ car.Model }} </h4>
                {{ car.BodyStyle }} <br>
                🔋 <strong>{{ car.KwH }}</strong> kWh <br>
                🚗 <strong>{{car.Range }}</strong> KM <br>
                <strong>{{ car.Displacement | round: 1 }}</strong> L Engine <br>
                <strong>{{ car.HP }}</strong> HP | <strong>{{ car.Torque }}</strong> TQ <br>
                ⏱️ <strong>{{ car.zeroToSixty }}</strong> s <br>
                💲 {{ lowestPrice }}
            </div>
        {% endif %}
    {% endfor %}
</div>