/* Set up some rules to govern the grid */

.wrapper {
  display: grid;
  grid-auto-columns: auto;
}

.car-box {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  padding: 15px 15px 15px 15px;
}